// screens
$maxMobile: "(max-width:767px)";
$maxSmall: "(max-width:991px)";
$minSmall: "(min-width:768px)";
$minMedium: "(min-width:992px)";
$minLarge: "(min-width:1200px)";
//colors
$mainColor: #03a9f4;
$grayColor: #5f5454;
$pink: #ed286d;
$blue: #56abc8;
$orange: #e84738;
$white: #ffffff;
$brown: #8b7b7b;
$backgroundColor: #f1f0f6;
$boxShadow: -12px -12px 15px snow, 10px 10px 50px 8px #4d5d8838;
$boxShadowScandry: -2px -2px 5px white, 3px 3px 5px #39395968;
$trans: 0.4s;
