body {
  background-color: var($backgroundColor);
  @include flex(row, center, center);
  height: 100vh;
  font-family: sans-serif;
}
* {
  margin: 0;
  padding: 9;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
  padding: 0;
}
